<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Movie Catalog Task5</display-name>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>Servlets.loginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>registraionServlet</servlet-name>
		<servlet-class>Servlets.registraionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registraionServlet</servlet-name>
		<url-pattern>/reg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewAllMovies</servlet-name>
		<servlet-class>Servlets.ViewAllMovies</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAllMovies</servlet-name>
		<url-pattern>/ViewAllMovies</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddMovie</servlet-name>
		<servlet-class>Servlets.AddMovie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMovie</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>editMovie</servlet-name>
		<servlet-class>Servlets.editMovie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editMovie</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>editMovie1</servlet-name>
		<servlet-class>Servlets.editMovie1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editMovie1</servlet-name>
		<url-pattern>/editMovie</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteServlet</servlet-name>
		<servlet-class>Servlets.deleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServlet</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchServlet</servlet-name>
		<servlet-class>Servlets.searchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>TableServlet</servlet-name>
		<servlet-class>Servlets.TableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TableServlet</servlet-name>
		<url-pattern>/table</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>newjsp.jsp</welcome-file>
	</welcome-file-list>
</web-app>